.div1 {
  width: 50px;
  height: 50px;
  background-color: green;
}

.div2 {
  width: 50px;
  height: 50px;
  background-color: red;
  /*float: right;*/
  position: absolute;
}

.div3 {
  width: 50px;
  height: 150px;
  background-color: blue;
}
